<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.gileadi</string>
	<key>--ignore</key>
	<array>
		<string>Pods</string>
	</array>
	<key>--project-company</key>
	<string>David Gileadi</string>
	<key>--project-name</key>
	<string>OnlineImagePicker</string>
</dict>
</plist>
